<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" th:href="@{/layout.css}">
</head>

<body>

<!-- Fixed Header -->
<div class="header">
    Employee Management System
</div>

<div class="container">
    <section layout:fragment="content">
        <!-- Page-specific content will be inserted here -->
    </section>
</div>

</body>
</html>
